* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Practicing variables in css, still learning */
:root {
  --darkmode-3: #140522d5; 
  --greydark: #555555;
  --darkmode2: #1f1f1f;
  --darkmode4: #050505;
  --dark-mode: #121212;
  --violet: hsl(303, 96%, 30%);
  --white-05: hsla(0, 0%, 100%, 0.5);
  --white-nightmode: rgb(204, 203, 203);   
}

body {
  color: var(--white-nightmode);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--darkmode4);
  width: auto;
  font-size: 14px;
}


.container {
  background-color: var(--dark-mode);
  gap: 5px;
  margin: auto;
  flex-wrap: wrap;
  width: fit-content;
}

.columns__wrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--darkmode4);
  line-height: 150px;
}
.columns__wrapper4 {
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 2px;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0px 0px 20px 0px;
}

.summitbutton {
 display: flex;
 justify-content: center;
 padding: 40px;
}

a {
  color: var(--white-nightmode);
  text-decoration: none;
}

.table tr {
  display: flex;
  justify-content: space-between;
}
.table th {
  display: flex;
  padding: 10px;
  justify-items: normal;
}
.table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 162px;
  padding-top: 45px;
  line-height: 18px;
}

#top9videos {
  /* this id number controls the "ourtop9videos" h3 tag */
  color: var(--white-nightmode);
  display: flex;
  justify-content: center;
  padding: 18px;
  background-color: var(--dark-mode);
}

.singlecat img {
  /* controls properties for the Cat image itself*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  filter: brightness(.9) contrast(1.2);
}
.singlecat {
  /* controls properties for the Cat image laying dowm part 
  also parent flex of table bellow*/
  background-color: var(--white-nightmode);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.table2 th {
  /* this is a child of the flex property from the cat image's table th part  */
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 10px;
}

.table2 {
  /* this is a child of the flex property from the cat image's "older movies" table part  */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;
  justify-content: center;
  gap: 130px;
}

.column-5child2 {
  padding-left: 20px;
}
.column-5child1 {
  padding-left: 20px;
}

.wrapper span {
  padding-left: 60px;
  color: var(--greydark);
  font-size: larger;
}
.wrapper h2 {
  padding-right: 100px;
  gap: 10px;
}
.wrapper {
  /* this .wrapper class is controlling my navmenu "barmenu" and logo */
  background-color: var(--darkmode-3);
  background-size: 100vw;
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: white;
  width: 100vw;
  padding: 50px 0;
  flex-wrap: wrap;
  margin: auto;
}

.searchwrapper {
  padding: 0px 280px 0px 50px; 
  flex-wrap: wrap;
  margin: auto;
}

.searchbar {
  font-size: 16px;
  height: 35px;
  padding: 20px 20px;
  border-radius: 10px;
  width: 400px;
}

.barmenu {
  color: white;
  font-size: 16px;
  margin: auto;
  word-spacing: 7px;
  font-size: 18px;
  letter-spacing: 2px;
}

.barmenu a {
  color: white;
  list-style: none;
  font-size: 16px;
}

/* added a subtle hover effect looks nice */
.barmenu a:hover {
  background-color: var(--white-nightmode);
  border-radius: 50px;
}

.img-bottom {
  filter: brightness(.8) contrast(1.2);
  gap: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.submit {
  display: flex;
  justify-content: center;
  width: 50px;
  border-radius: 10%;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: smaller;
  color: var(--white-nightmode);
  background-color: var(--darkmode-3);
}

footer {
  padding: 50px 0px 50px 0px;
  margin-top: 50px;
}


