* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Practicing variables in css, still learning */
/* added some padding to the body tag, it did not look right when window was smaller */

:root {
  --darkmode-3: #140522d5;  
  --darkmodelite: #111111;
  --darkmode1: #404040;
  --darkmode2: #1f1f1f;
  --darkmode4: #050505;
  --white-07: hsla(0, 0%, 100%, 0.7);
  --lite-gray: hsl(0, 1%, 36%);
  --blue-lite: #ecf2f8;
  --dark-mode: #121212;
  --blue-2: hsl(219, 29%, 14%);
  --violet: hsl(303, 96%, 30%);
  --white-05: hsla(0, 0%, 100%, 0.5);
  --white: hsl(0, 0%, 100%); 
  --white-nightmode: rgb(223, 223, 223);   
}

body {
  color: var(--white-nightmode);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--darkmode4);
  width: auto;
  font-size: 14px;
  
}


.container {
  background-color: var(--dark-mode);
  gap: 5px;
  margin: 30px 500px 30px 500px;
}

.column5 {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 0px 600px;
}

.column-5child1 {
 flex: auto;
}
.column-5child2 {
  flex: auto;
  padding: 5px 20px 0px 50px;

}

.summitbutton {
 display: flex;
 justify-content: center;
 padding: 40px;
}

.p2 {
  display: flex;
  justify-content: center;
  align-self: center;
}

span {
  /* this controls the "logo" color. in my case its a text logo "funniest" */
  color: var(--lite-gray); 
}

a {
  color: var(--white-nightmode);
  text-decoration: none;
}

.table tr {
  display: flex;
  justify-content: space-between;
}
.table th {
  display: flex;
  padding: 10px;
  justify-items: normal;
}
.table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10%;
  padding-left: 5%;
  align-self: center;
}

#top9videos {
  /* this id number controls the "ourtop9videos" h3 tag */
  color: var(--white-nightmode);
  display: flex;
  justify-content: center;
  padding: 18px;
  background-color: var(--dark-mode);
}

.row-1 {
  /* This row-1 code controls the ol element section the site (top 9 cat videos)  */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  line-height: 20px;
  flex-flow: row;
  color: var(--white-nightmode)
}

.row-child2 {
  flex: auto;
  padding: 0px 100px 0px 100px;

}
.row-child3 {
  flex: auto;
  padding-right: 200px;

}

.singlecat img {
  /* controls properties for the Cat image itself*/
  display: flex;
  justify-content: space-between;
  align-self: center;
  filter: brightness(.9) contrast(1.2);
}
.singlecat {
  /* controls properties for the Cat image laying dowm part 
  also parent flex of table bellow*/
  background-color: var(--white-nightmode);
  display: flex;
  justify-content: space-between;
  gap: 10px; 

  
}

.table2 th {
  /* this is a child of the flex property from the cat image's table th part  */
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 10px;
}

.table2 {
  /* this is a child of the flex property from the cat image's "older movies" table part  */
  line-height: 16px;
  padding: 20px;
  justify-self: center;
  align-self: center;
  color: #050505;
  
}

.wrapper {
  /* this .wrapper class is controlling my navmenu "barmenu" and logo */
  background-color: var(--darkmode-3);
  background-size: 100vw;
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: white;
  width: 100vw;
  padding: 24px 100px;
  
}

.searchwrapper {
  width: 900px;
  padding: 0px 200px 0px 0px; 
  display: flex;
  justify-content: center;
}

.searchbar {
  font-size: 16px;
  height: 35px;
  padding: 20px 20px;
  border-radius: 10px;
}

.barmenu a {
  color: white;
  list-style: none;
}


.barmenu {
  display: flex;
  justify-content: right;
  gap: 20px;
  font-size: 18px;
  padding: 0px 0px 0px 400px;
}

/* added a subtle hover effect looks nice */
.barmenu a:hover {
  background-color: var(--darkmode2)
}

.img-bottom {
  filter: brightness(.8) contrast(1.2);
  gap: 28px;
  display: flex;
  justify-content: center;

}

.submit {
  display: flex;
  justify-content: center;
  width: 50px;
  border-radius: 10%;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: smaller;
  color: var(--white-nightmode);
  background-color: var(--darkmode-3);
}

footer {
  padding: 50px 0px 50px 0px;
}

@media (max-width: 950px) {
  .container  {
    flex-direction: column;
  }
}
@media (max-width: 950px) {
  .img-bottom  {
    flex-direction: column;
  }
}
