*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
}
    
/* This controls our first screen with (Open) button */
.containerOne {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/* Container two will be called from Javascript file after user clicks "OPEN" button */

img {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-bottom: 20px;
    height: 285px;
    width: 360px;
}

section {
    background-color: black;
}

h1, small {
    padding: 20px;
    color: aliceblue;
}

button #btnhome {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: aliceblue;
    height: 40px;
    text-align: center;
}

